body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/uni.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6); /* Уменьшили непрозрачность до 60% */
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #555;
}

main {
    font-size: 1em;
}

h2 {
    font-size: 1.5em;
    color: #444;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

.url-path {
    color: #333;
    text-decoration: none; /* Убираем подчеркивание */
}

.url-path:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
}

